<%- include("header") -%>

    <div class="container-fluid">
      <div class="table-responsive-md reserveTable">
        <h2><%=capPageName%></h2>
        <table class="table table-sm table-hover caption-top tableColor">
          <caption></caption>
          <thead>
            <tr>
              <th scope="col"><%=table1Name%></th>
              <th scope="col">Segunda</th>
              <th scope="col">Terça</th>
              <th scope="col">Quarta</th>
              <th scope="col">Quinta</th>
              <th scope="col">Sexta</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">7:00 - 8:00</th>
              <td id="R1C1"></td>
              <td id="R1C2"></td>
              <td id="R1C3"></td>
              <td id="R1C4"></td>
              <td id="R1C5"></td>
            </tr>
            <tr>
              <th scope="row">8:00 - 9:00</th>
              <td id="R2C1"></td>
              <td id="R2C2"></td>
              <td id="R2C3"></td>
              <td id="R2C4"></td>
              <td id="R2C5"></td>
            </tr>
            <tr>
              <th scope="row">9:00 - 10:00</th>
              <td id="R3C1"></td>
              <td id="R3C2"></td>
              <td id="R3C3"></td>
              <td id="R3C4"></td>
              <td id="R3C5"></td>
            </tr>
            <tr>
              <th scope="row">10:00 - 11:00</th>
              <td id="R4C1"></td>
              <td id="R4C2"></td>
              <td id="R4C3"></td>
              <td id="R4C4"></td>
              <td id="R4C5"></td>
            </tr>
            <tr>
              <th scope="row">11:00 - 12:00</th>
              <td id="R5C1"></td>
              <td id="R5C2"></td>
              <td id="R5C3"></td>
              <td id="R5C4"></td>
              <td id="R5C5"></td>
            </tr>
            <tr>
              <th scope="row">12:00 - 13:00</th>
              <td id="R6C1"></td>
              <td id="R6C2"></td>
              <td id="R6C3"></td>
              <td id="R6C4"></td>
              <td id="R6C5"></td>
            </tr>
            <tr>
              <th scope="row">13:00 - 14:00</th>
              <td id="R7C1"></td>
              <td id="R7C2"></td>
              <td id="R7C3"></td>
              <td id="R7C4"></td>
              <td id="R7C5"></td>
            </tr>
            <tr>
              <th scope="row">14:00 - 15:00</th>
              <td id="R8C1"></td>
              <td id="R8C2"></td>
              <td id="R8C3"></td>
              <td id="R8C4"></td>
              <td id="R8C5"></td>
            </tr>
            <tr>
              <th scope="row">15:00 - 16:00</th>
              <td id="R9C1"></td>
              <td id="R9C2"></td>
              <td id="R9C3"></td>
              <td id="R9C4"></td>
              <td id="R9C5"></td>
            </tr>
            <tr>
              <th scope="row">16:00 - 17:00</th>
              <td id="R10C1"></td>
              <td id="R10C2"></td>
              <td id="R10C3"></td>
              <td id="R10C4"></td>
              <td id="R10C5"></td>
            </tr>
            <tr>
              <th scope="row">17:00 - 18:00</th>
              <td id="R11C1"></td>
              <td id="R11C2"></td>
              <td id="R11C3"></td>
              <td id="R11C4"></td>
              <td id="R11C5"></td>
            </tr>
            <tr>
              <th scope="row">18:00 - 19:00</th>
              <td id="R12C1"></td>
              <td id="R12C2"></td>
              <td id="R12C3"></td>
              <td id="R12C4"></td>
              <td id="R12C5"></td>
            </tr>
          </tbody>
        </table>
        <% if (pageName != "qpcr" && pageName != "capela" && pageName != "leitor-de-placas"){ %>
          <table class="table table-sm table-hover caption-top tableColor">
            <caption></caption>
            <thead>
              <tr>
                <th scope="col"><%=table2Name%></th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">7:00 - 8:00</th>
                <td id="R1C1"></td>
                <td id="R1C2"></td>
                <td id="R1C3"></td>
                <td id="R1C4"></td>
                <td id="R1C5"></td>
              </tr>
              <tr>
                <th scope="row">8:00 - 9:00</th>
                <td id="R2C1"></td>
                <td id="R2C2"></td>
                <td id="R2C3"></td>
                <td id="R2C4"></td>
                <td id="R2C5"></td>
              </tr>
              <tr>
                <th scope="row">9:00 - 10:00</th>
                <td id="R3C1"></td>
                <td id="R3C2"></td>
                <td id="R3C3"></td>
                <td id="R3C4"></td>
                <td id="R3C5"></td>
              </tr>
              <tr>
                <th scope="row">10:00 - 11:00</th>
                <td id="R4C1"></td>
                <td id="R4C2"></td>
                <td id="R4C3"></td>
                <td id="R4C4"></td>
                <td id="R4C5"></td>
              </tr>
              <tr>
                <th scope="row">11:00 - 12:00</th>
                <td id="R5C1"></td>
                <td id="R5C2"></td>
                <td id="R5C3"></td>
                <td id="R5C4"></td>
                <td id="R5C5"></td>
              </tr>
              <tr>
                <th scope="row">12:00 - 13:00</th>
                <td id="R6C1"></td>
                <td id="R6C2"></td>
                <td id="R6C3"></td>
                <td id="R6C4"></td>
                <td id="R6C5"></td>
              </tr>
              <tr>
                <th scope="row">13:00 - 14:00</th>
                <td id="R7C1"></td>
                <td id="R7C2"></td>
                <td id="R7C3"></td>
                <td id="R7C4"></td>
                <td id="R7C5"></td>
              </tr>
              <tr>
                <th scope="row">14:00 - 15:00</th>
                <td id="R8C1"></td>
                <td id="R8C2"></td>
                <td id="R8C3"></td>
                <td id="R8C4"></td>
                <td id="R8C5"></td>
              </tr>
              <tr>
                <th scope="row">15:00 - 16:00</th>
                <td id="R9C1"></td>
                <td id="R9C2"></td>
                <td id="R9C3"></td>
                <td id="R9C4"></td>
                <td id="R9C5"></td>
              </tr>
              <tr>
                <th scope="row">16:00 - 17:00</th>
                <td id="R10C1"></td>
                <td id="R10C2"></td>
                <td id="R10C3"></td>
                <td id="R10C4"></td>
                <td id="R10C5"></td>
              </tr>
              <tr>
                <th scope="row">17:00 - 18:00</th>
                <td id="R11C1"></td>
                <td id="R11C2"></td>
                <td id="R11C3"></td>
                <td id="R11C4"></td>
                <td id="R11C5"></td>
              </tr>
              <tr>
                <th scope="row">18:00 - 19:00</th>
                <td id="R12C1"></td>
                <td id="R12C2"></td>
                <td id="R12C3"></td>
                <td id="R12C4"></td>
                <td id="R12C5"></td>
              </tr>
            </tbody>
          </table>
          <% if (pageName === "termocicladores"){ %>
            <table class="table table-sm table-hover caption-top tableColor">
              <caption></caption>
              <thead>
                <tr>
                  <th scope="col"><%=table3Name%></th>
                  <th scope="col">Segunda</th>
                  <th scope="col">Terça</th>
                  <th scope="col">Quarta</th>
                  <th scope="col">Quinta</th>
                  <th scope="col">Sexta</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <th scope="row">7:00 - 8:00</th>
                  <td id="R1C1"></td>
                  <td id="R1C2"></td>
                  <td id="R1C3"></td>
                  <td id="R1C4"></td>
                  <td id="R1C5"></td>
                </tr>
                <tr>
                  <th scope="row">8:00 - 9:00</th>
                  <td id="R2C1"></td>
                  <td id="R2C2"></td>
                  <td id="R2C3"></td>
                  <td id="R2C4"></td>
                  <td id="R2C5"></td>
                </tr>
                <tr>
                  <th scope="row">9:00 - 10:00</th>
                  <td id="R3C1"></td>
                  <td id="R3C2"></td>
                  <td id="R3C3"></td>
                  <td id="R3C4"></td>
                  <td id="R3C5"></td>
                </tr>
                <tr>
                  <th scope="row">10:00 - 11:00</th>
                  <td id="R4C1"></td>
                  <td id="R4C2"></td>
                  <td id="R4C3"></td>
                  <td id="R4C4"></td>
                  <td id="R4C5"></td>
                </tr>
                <tr>
                  <th scope="row">11:00 - 12:00</th>
                  <td id="R5C1"></td>
                  <td id="R5C2"></td>
                  <td id="R5C3"></td>
                  <td id="R5C4"></td>
                  <td id="R5C5"></td>
                </tr>
                <tr>
                  <th scope="row">12:00 - 13:00</th>
                  <td id="R6C1"></td>
                  <td id="R6C2"></td>
                  <td id="R6C3"></td>
                  <td id="R6C4"></td>
                  <td id="R6C5"></td>
                </tr>
                <tr>
                  <th scope="row">13:00 - 14:00</th>
                  <td id="R7C1"></td>
                  <td id="R7C2"></td>
                  <td id="R7C3"></td>
                  <td id="R7C4"></td>
                  <td id="R7C5"></td>
                </tr>
                <tr>
                  <th scope="row">14:00 - 15:00</th>
                  <td id="R8C1"></td>
                  <td id="R8C2"></td>
                  <td id="R8C3"></td>
                  <td id="R8C4"></td>
                  <td id="R8C5"></td>
                </tr>
                <tr>
                  <th scope="row">15:00 - 16:00</th>
                  <td id="R9C1"></td>
                  <td id="R9C2"></td>
                  <td id="R9C3"></td>
                  <td id="R9C4"></td>
                  <td id="R9C5"></td>
                </tr>
                <tr>
                  <th scope="row">16:00 - 17:00</th>
                  <td id="R10C1"></td>
                  <td id="R10C2"></td>
                  <td id="R10C3"></td>
                  <td id="R10C4"></td>
                  <td id="R10C5"></td>
                </tr>
                <tr>
                  <th scope="row">17:00 - 18:00</th>
                  <td id="R11C1"></td>
                  <td id="R11C2"></td>
                  <td id="R11C3"></td>
                  <td id="R11C4"></td>
                  <td id="R11C5"></td>
                </tr>
                <tr>
                  <th scope="row">18:00 - 19:00</th>
                  <td id="R12C1"></td>
                  <td id="R12C2"></td>
                  <td id="R12C3"></td>
                  <td id="R12C4"></td>
                  <td id="R12C5"></td>
                </tr>
              </tbody>
            </table>
          <% } %>
        <% } %>
      </div>
    </div>

<%- include("footer") -%>
