<%- include("header") -%>

    <div class="container-fluid">
      <div class="table-responsive-md reserveTable">
        <h2><%=capPageName%></h2>
        <table class="table table-sm table-hover caption-top tableColor">
          <caption></caption>
          <thead>
            <tr>
              <% if(table1Name === "leitor-de-placas" || table1Name === "qPCR" || table1Name === "Capela"){ %>
                <th scope="col"></th>
              <% } else { %>
                <th scope="col"><%=table1Name%></th>
              <% } %>
              <th scope="col">Segunda</th>
              <th scope="col">Terça</th>
              <th scope="col">Quarta</th>
              <th scope="col">Quinta</th>
              <th scope="col">Sexta</th>
              <th scope="col">Sábado</th>
              <th scope="col">Domingo</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">7:00 - 8:00</th>
              <td id="Seg07H" value="1"></td>
              <td id="Ter07H" value="1"></td>
              <td id="Qua07H" value="1"></td>
              <td id="Qui07H" value="1"></td>
              <td id="Sex07H" value="1"></td>
              <td id="Sab07H" value="1"></td>
              <td id="Dom07H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">8:00 - 9:00</th>
              <td id="Seg08H" value="1"></td>
              <td id="Ter08H" value="1"></td>
              <td id="Qua08H" value="1"></td>
              <td id="Qui08H" value="1"></td>
              <td id="Sex08H" value="1"></td>
              <td id="Sab08H" value="1"></td>
              <td id="Dom08H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">9:00 - 10:00</th>
              <td id="Seg09H" value="1"></td>
              <td id="Ter09H" value="1"></td>
              <td id="Qua09H" value="1"></td>
              <td id="Qui09H" value="1"></td>
              <td id="Sex09H" value="1"></td>
              <td id="Sab09H" value="1"></td>
              <td id="Dom09H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">10:00 - 11:00</th>
              <td id="Seg10H" value="1"></td>
              <td id="Ter10H" value="1"></td>
              <td id="Qua10H" value="1"></td>
              <td id="Qui10H" value="1"></td>
              <td id="Sex10H" value="1"></td>
              <td id="Sab10H" value="1"></td>
              <td id="Dom10H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">11:00 - 12:00</th>
              <td id="Seg11H" value="1"></td>
              <td id="Ter11H" value="1"></td>
              <td id="Qua11H" value="1"></td>
              <td id="Qui11H" value="1"></td>
              <td id="Sex11H" value="1"></td>
              <td id="Sab11H" value="1"></td>
              <td id="Dom11H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">12:00 - 13:00</th>
              <td id="Seg12H" value="1"></td>
              <td id="Ter12H" value="1"></td>
              <td id="Qua12H" value="1"></td>
              <td id="Qui12H" value="1"></td>
              <td id="Sex12H" value="1"></td>
              <td id="Sab12H" value="1"></td>
              <td id="Dom12H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">13:00 - 14:00</th>
              <td id="Seg13H" value="1"></td>
              <td id="Ter13H" value="1"></td>
              <td id="Qua13H" value="1"></td>
              <td id="Qui13H" value="1"></td>
              <td id="Sex13H" value="1"></td>
              <td id="Sab13H" value="1"></td>
              <td id="Dom13H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">14:00 - 15:00</th>
              <td id="Seg14H" value="1"></td>
              <td id="Ter14H" value="1"></td>
              <td id="Qua14H" value="1"></td>
              <td id="Qui14H" value="1"></td>
              <td id="Sex14H" value="1"></td>
              <td id="Sab14H" value="1"></td>
              <td id="Dom14H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">15:00 - 16:00</th>
              <td id="Seg15H" value="1"></td>
              <td id="Ter15H" value="1"></td>
              <td id="Qua15H" value="1"></td>
              <td id="Qui15H" value="1"></td>
              <td id="Sex15H" value="1"></td>
              <td id="Sab15H" value="1"></td>
              <td id="Dom15H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">16:00 - 17:00</th>
              <td id="Seg16H" value="1"></td>
              <td id="Ter16H" value="1"></td>
              <td id="Qua16H" value="1"></td>
              <td id="Qui16H" value="1"></td>
              <td id="Sex16H" value="1"></td>
              <td id="Sab16H" value="1"></td>
              <td id="Dom16H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">17:00 - 18:00</th>
              <td id="Seg17H" value="1"></td>
              <td id="Ter17H" value="1"></td>
              <td id="Qua17H" value="1"></td>
              <td id="Qui17H" value="1"></td>
              <td id="Sex17H" value="1"></td>
              <td id="Sab17H" value="1"></td>
              <td id="Dom17H" value="1"></td>
            </tr>
            <tr>
              <th scope="row">18:00 - 19:00</th>
              <td id="Seg18H" value="1"></td>
              <td id="Ter18H" value="1"></td>
              <td id="Qua18H" value="1"></td>
              <td id="Qui18H" value="1"></td>
              <td id="Sex18H" value="1"></td>
              <td id="Sab18H" value="1"></td>
              <td id="Dom18H" value="1"></td>
            </tr>
            <% if (table1Name.substring(0, 2) === "SH" || table1Name.substring(0, 2) === "TC"){ %>
              <tr>
                <th scope="row">Overnight</th>
                <td id="SegOvn" value="1"></td>
                <td id="TerOvn" value="1"></td>
                <td id="QuaOvn" value="1"></td>
                <td id="QuiOvn" value="1"></td>
                <td id="SexOvn" value="1"></td>
                <td id="SabOvn" value="1"></td>
                <td id="DomOvn" value="1"></td>
              </tr>
            <% } %>
          </tbody>
        </table>
        <script>
          $(document).ready(function(){
            $.getJSON("/json/" + "<%=table1Name%>", function(jd){
              jd.reservas.forEach(function(reserva){
                $("#" + reserva.dia + reserva.horario).filter('[value="1"]').text(reserva.nome);
              });
            });
          });
        </script>
        <% if (pageName != "qpcr" && pageName != "capela" && pageName != "leitor-de-placas"){ %>
          <table class="table table-sm table-hover caption-top tableColor">
            <caption></caption>
            <thead>
              <tr>
                <th scope="col"><%=table2Name%></th>
                <th scope="col">Segunda</th>
                <th scope="col">Terça</th>
                <th scope="col">Quarta</th>
                <th scope="col">Quinta</th>
                <th scope="col">Sexta</th>
                <th scope="col">Sábado</th>
                <th scope="col">Domingo</th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <tr>
                <th scope="row">7:00 - 8:00</th>
                <td id="Seg07H2"></td>
                <td id="Ter07H2"></td>
                <td id="Qua07H2"></td>
                <td id="Qui07H2"></td>
                <td id="Sex07H2"></td>
                <td id="Sab07H2"></td>
                <td id="Dom07H2"></td>
              </tr>
              <tr>
                <th scope="row">8:00 - 9:00</th>
                <td id="Seg08H2"></td>
                <td id="Ter08H2"></td>
                <td id="Qua08H2"></td>
                <td id="Qui08H2"></td>
                <td id="Sex08H2"></td>
                <td id="Sab08H2"></td>
                <td id="Dom08H2"></td>
              </tr>
              <tr>
                <th scope="row">9:00 - 10:00</th>
                <td id="Seg09H2"></td>
                <td id="Ter09H2"></td>
                <td id="Qua09H2"></td>
                <td id="Qui09H2"></td>
                <td id="Sex09H2"></td>
                <td id="Sab09H2"></td>
                <td id="Dom09H2"></td>
              </tr>
              <tr>
                <th scope="row">10:00 - 11:00</th>
                <td id="Seg10H2"></td>
                <td id="Ter10H2"></td>
                <td id="Qua10H2"></td>
                <td id="Qui10H2"></td>
                <td id="Sex10H2"></td>
                <td id="Sab10H2"></td>
                <td id="Dom10H2"></td>
              </tr>
              <tr>
                <th scope="row">11:00 - 12:00</th>
                <td id="Seg11H2"></td>
                <td id="Ter11H2"></td>
                <td id="Qua11H2"></td>
                <td id="Qui11H2"></td>
                <td id="Sex11H2"></td>
                <td id="Sab11H2"></td>
                <td id="Dom11H2"></td>
              </tr>
              <tr>
                <th scope="row">12:00 - 13:00</th>
                <td id="Seg12H2"></td>
                <td id="Ter12H2"></td>
                <td id="Qua12H2"></td>
                <td id="Qui12H2"></td>
                <td id="Sex12H2"></td>
                <td id="Sab12H2"></td>
                <td id="Dom12H2"></td>
              </tr>
              <tr>
                <th scope="row">13:00 - 14:00</th>
                <td id="Seg13H2"></td>
                <td id="Ter13H2"></td>
                <td id="Qua13H2"></td>
                <td id="Qui13H2"></td>
                <td id="Sex13H2"></td>
                <td id="Sab13H2"></td>
                <td id="Dom13H2"></td>
              </tr>
              <tr>
                <th scope="row">14:00 - 15:00</th>
                <td id="Seg14H2"></td>
                <td id="Ter14H2"></td>
                <td id="Qua14H2"></td>
                <td id="Qui14H2"></td>
                <td id="Sex14H2"></td>
                <td id="Sab14H2"></td>
                <td id="Dom14H2"></td>
              </tr>
              <tr>
                <th scope="row">15:00 - 16:00</th>
                <td id="Seg15H2"></td>
                <td id="Ter15H2"></td>
                <td id="Qua15H2"></td>
                <td id="Qui15H2"></td>
                <td id="Sex15H2"></td>
                <td id="Sab15H2"></td>
                <td id="Dom15H2"></td>
              </tr>
              <tr>
                <th scope="row">16:00 - 17:00</th>
                <td id="Seg16H2"></td>
                <td id="Ter16H2"></td>
                <td id="Qua16H2"></td>
                <td id="Qui16H2"></td>
                <td id="Sex16H2"></td>
                <td id="Sab16H2"></td>
                <td id="Dom16H2"></td>
              </tr>
              <tr>
                <th scope="row">17:00 - 18:00</th>
                <td id="Seg17H2"></td>
                <td id="Ter17H2"></td>
                <td id="Qua17H2"></td>
                <td id="Qui17H2"></td>
                <td id="Sex17H2"></td>
                <td id="Sab17H2"></td>
                <td id="Dom17H2"></td>
              </tr>
              <tr>
                <th scope="row">18:00 - 19:00</th>
                <td id="Seg18H2"></td>
                <td id="Ter18H2"></td>
                <td id="Qua18H2"></td>
                <td id="Qui18H2"></td>
                <td id="Sex18H2"></td>
                <td id="Sab18H2"></td>
                <td id="Dom18H2"></td>
              </tr>
              <% if (table2Name.substring(0, 2) === "SH" || table2Name.substring(0, 2) === "TC"){ %>
                <tr>
                  <th scope="row">Overnight</th>
                  <td id="SegOvn2"></td>
                  <td id="TerOvn2"></td>
                  <td id="QuaOvn2"></td>
                  <td id="QuiOvn2"></td>
                  <td id="SexOvn2"></td>
                  <td id="SabOvn2"></td>
                  <td id="DomOvn2"></td>
                </tr>
              <% } %>
            </tbody>
          </table>
          <script>
            $(document).ready(function(){
              $.getJSON("/json/" + "<%=table2Name%>", function(jd){
                jd.reservas.forEach(function(reserva){
                  $("#" + reserva.dia + reserva.horario + "2").text(reserva.nome);
                });
              });
            });
          </script>
          <% if (pageName === "termocicladores"){ %>
            <table class="table table-sm table-hover caption-top tableColor">
              <caption></caption>
              <thead>
                <tr>
                  <th scope="col"><%=table3Name%></th>
                  <th scope="col">Segunda</th>
                  <th scope="col">Terça</th>
                  <th scope="col">Quarta</th>
                  <th scope="col">Quinta</th>
                  <th scope="col">Sexta</th>
                  <th scope="col">Sábado</th>
                  <th scope="col">Domingo</th>
                </tr>
              </thead>
              <tbody class="table-group-divider">
                <tr>
                  <th scope="row">7:00 - 8:00</th>
                  <td id="Seg07H3"></td>
                  <td id="Ter07H3"></td>
                  <td id="Qua07H3"></td>
                  <td id="Qui07H3"></td>
                  <td id="Sex07H3"></td>
                  <td id="Sab07H3"></td>
                  <td id="Dom07H3"></td>
                </tr>
                <tr>
                  <th scope="row">8:00 - 9:00</th>
                  <td id="Seg08H3"></td>
                  <td id="Ter08H3"></td>
                  <td id="Qua08H3"></td>
                  <td id="Qui08H3"></td>
                  <td id="Sex08H3"></td>
                  <td id="Sab08H3"></td>
                  <td id="Dom08H3"></td>
                </tr>
                <tr>
                  <th scope="row">9:00 - 10:00</th>
                  <td id="Seg09H3"></td>
                  <td id="Ter09H3"></td>
                  <td id="Qua09H3"></td>
                  <td id="Qui09H3"></td>
                  <td id="Sex09H3"></td>
                  <td id="Sab09H3"></td>
                  <td id="Dom09H3"></td>
                </tr>
                <tr>
                  <th scope="row">10:00 - 11:00</th>
                  <td id="Seg10H3"></td>
                  <td id="Ter10H3"></td>
                  <td id="Qua10H3"></td>
                  <td id="Qui10H3"></td>
                  <td id="Sex10H3"></td>
                  <td id="Sab10H3"></td>
                  <td id="Dom10H3"></td>
                </tr>
                <tr>
                  <th scope="row">11:00 - 12:00</th>
                  <td id="Seg11H3"></td>
                  <td id="Ter11H3"></td>
                  <td id="Qua11H3"></td>
                  <td id="Qui11H3"></td>
                  <td id="Sex11H3"></td>
                  <td id="Sab11H3"></td>
                  <td id="Dom11H3"></td>
                </tr>
                <tr>
                  <th scope="row">12:00 - 13:00</th>
                  <td id="Seg12H3"></td>
                  <td id="Ter12H3"></td>
                  <td id="Qua12H3"></td>
                  <td id="Qui12H3"></td>
                  <td id="Sex12H3"></td>
                  <td id="Sab12H3"></td>
                  <td id="Dom12H3"></td>
                </tr>
                <tr>
                  <th scope="row">13:00 - 14:00</th>
                  <td id="Seg13H3"></td>
                  <td id="Ter13H3"></td>
                  <td id="Qua13H3"></td>
                  <td id="Qui13H3"></td>
                  <td id="Sex13H3"></td>
                  <td id="Sab13H3"></td>
                  <td id="Dom13H3"></td>
                </tr>
                <tr>
                  <th scope="row">14:00 - 15:00</th>
                  <td id="Seg14H3"></td>
                  <td id="Ter14H3"></td>
                  <td id="Qua14H3"></td>
                  <td id="Qui14H3"></td>
                  <td id="Sex14H3"></td>
                  <td id="Sab14H3"></td>
                  <td id="Dom14H3"></td>
                </tr>
                <tr>
                  <th scope="row">15:00 - 16:00</th>
                  <td id="Seg15H3"></td>
                  <td id="Ter15H3"></td>
                  <td id="Qua15H3"></td>
                  <td id="Qui15H3"></td>
                  <td id="Sex15H3"></td>
                  <td id="Sab15H3"></td>
                  <td id="Dom15H3"></td>
                </tr>
                <tr>
                  <th scope="row">16:00 - 17:00</th>
                  <td id="Seg16H3"></td>
                  <td id="Ter16H3"></td>
                  <td id="Qua16H3"></td>
                  <td id="Qui16H3"></td>
                  <td id="Sex16H3"></td>
                  <td id="Sab16H3"></td>
                  <td id="Dom16H3"></td>
                </tr>
                <tr>
                  <th scope="row">17:00 - 18:00</th>
                  <td id="Seg17H3"></td>
                  <td id="Ter17H3"></td>
                  <td id="Qua17H3"></td>
                  <td id="Qui17H3"></td>
                  <td id="Sex17H3"></td>
                  <td id="Sab17H3"></td>
                  <td id="Dom17H3"></td>
                </tr>
                <tr>
                  <th scope="row">18:00 - 19:00</th>
                  <td id="Ter18H3"></td>
                  <td id="Seg18H3"></td>
                  <td id="Qua18H3"></td>
                  <td id="Qui18H3"></td>
                  <td id="Sex18H3"></td>
                  <td id="Sab18H3"></td>
                  <td id="Dom18H3"></td>
                </tr>
                <tr>
                  <th scope="row">Overnight</th>
                  <td id="SegOvn3"></td>
                  <td id="TerOvn3"></td>
                  <td id="QuaOvn3"></td>
                  <td id="QuiOvn3"></td>
                  <td id="SexOvn3"></td>
                  <td id="SabOvn3"></td>
                  <td id="DomOvn3"></td>
                </tr>
              </tbody>
            </table>
            <script>
              $(document).ready(function(){
                $.getJSON("/json/" + "<%=table3Name%>", function(jd){
                  jd.reservas.forEach(function(reserva){
                    $("#" + reserva.dia + reserva.horario + "3").text(reserva.nome);
                  });
                });
              });
            </script>
          <% } %>
        <% } %>
      </div>
    </div>

<%- include("footer") -%>
