<%- include("header") -%>

    <div class="container-fluid">
      <div class="table-responsive-md reserveTable">
        <h2><%=pageName%></h2>
        <table class="table table-sm table-hover caption-top tableColor">
          <caption></caption>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Segunda</th>
              <th scope="col">Terça</th>
              <th scope="col">Quarta</th>
              <th scope="col">Quinta</th>
              <th scope="col">Sexta</th>
              <th scope="col">Sábado</th>
              <th scope="col">Domingo</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">7:00 - 8:00</th>
              <td id="Seg07H" value=""></td>
              <td id="Ter07H" value=""></td>
              <td id="Qua07H" value=""></td>
              <td id="Qui07H" value=""></td>
              <td id="Sex07H" value=""></td>
              <td id="Sab07H" value=""></td>
              <td id="Dom07H" value=""></td>
            </tr>
            <tr>
              <th scope="row">8:00 - 9:00</th>
              <td id="Seg08H" value=""></td>
              <td id="Ter08H" value=""></td>
              <td id="Qua08H" value=""></td>
              <td id="Qui08H" value=""></td>
              <td id="Sex08H" value=""></td>
              <td id="Sab08H" value=""></td>
              <td id="Dom08H" value=""></td>
            </tr>
            <tr>
              <th scope="row">9:00 - 10:00</th>
              <td id="Seg09H" value=""></td>
              <td id="Ter09H" value=""></td>
              <td id="Qua09H" value=""></td>
              <td id="Qui09H" value=""></td>
              <td id="Sex09H" value=""></td>
              <td id="Sab09H" value=""></td>
              <td id="Dom09H" value=""></td>
            </tr>
            <tr>
              <th scope="row">10:00 - 11:00</th>
              <td id="Seg10H" value=""></td>
              <td id="Ter10H" value=""></td>
              <td id="Qua10H" value=""></td>
              <td id="Qui10H" value=""></td>
              <td id="Sex10H" value=""></td>
              <td id="Sab10H" value=""></td>
              <td id="Dom10H" value=""></td>
            </tr>
            <tr>
              <th scope="row">11:00 - 12:00</th>
              <td id="Seg11H" value=""></td>
              <td id="Ter11H" value=""></td>
              <td id="Qua11H" value=""></td>
              <td id="Qui11H" value=""></td>
              <td id="Sex11H" value=""></td>
              <td id="Sab11H" value=""></td>
              <td id="Dom11H" value=""></td>
            </tr>
            <tr>
              <th scope="row">12:00 - 13:00</th>
              <td id="Seg12H" value=""></td>
              <td id="Ter12H" value=""></td>
              <td id="Qua12H" value=""></td>
              <td id="Qui12H" value=""></td>
              <td id="Sex12H" value=""></td>
              <td id="Sab12H" value=""></td>
              <td id="Dom12H" value=""></td>
            </tr>
            <tr>
              <th scope="row">13:00 - 14:00</th>
              <td id="Seg13H" value=""></td>
              <td id="Ter13H" value=""></td>
              <td id="Qua13H" value=""></td>
              <td id="Qui13H" value=""></td>
              <td id="Sex13H" value=""></td>
              <td id="Sab13H" value=""></td>
              <td id="Dom13H" value=""></td>
            </tr>
            <tr>
              <th scope="row">14:00 - 15:00</th>
              <td id="Seg14H" value=""></td>
              <td id="Ter14H" value=""></td>
              <td id="Qua14H" value=""></td>
              <td id="Qui14H" value=""></td>
              <td id="Sex14H" value=""></td>
              <td id="Sab14H" value=""></td>
              <td id="Dom14H" value=""></td>
            </tr>
            <tr>
              <th scope="row">15:00 - 16:00</th>
              <td id="Seg15H" value=""></td>
              <td id="Ter15H" value=""></td>
              <td id="Qua15H" value=""></td>
              <td id="Qui15H" value=""></td>
              <td id="Sex15H" value=""></td>
              <td id="Sab15H" value=""></td>
              <td id="Dom15H" value=""></td>
            </tr>
            <tr>
              <th scope="row">16:00 - 17:00</th>
              <td id="Seg16H" value=""></td>
              <td id="Ter16H" value=""></td>
              <td id="Qua16H" value=""></td>
              <td id="Qui16H" value=""></td>
              <td id="Sex16H" value=""></td>
              <td id="Sab16H" value=""></td>
              <td id="Dom16H" value=""></td>
            </tr>
            <tr>
              <th scope="row">17:00 - 18:00</th>
              <td id="Seg17H" value=""></td>
              <td id="Ter17H" value=""></td>
              <td id="Qua17H" value=""></td>
              <td id="Qui17H" value=""></td>
              <td id="Sex17H" value=""></td>
              <td id="Sab17H" value=""></td>
              <td id="Dom17H" value=""></td>
            </tr>
            <tr>
              <th scope="row">18:00 - 19:00</th>
              <td id="Seg18H" value=""></td>
              <td id="Ter18H" value=""></td>
              <td id="Qua18H" value=""></td>
              <td id="Qui18H" value=""></td>
              <td id="Sex18H" value=""></td>
              <td id="Sab18H" value=""></td>
              <td id="Dom18H" value=""></td>
            </tr>
            <% if (routeName.substring(0, 2) === "SH" || routeName.substring(0, 2) === "TC"){ %>
              <tr>
                <th scope="row">Overnight</th>
                <td id="SegOvn" value=""></td>
                <td id="TerOvn" value=""></td>
                <td id="QuaOvn" value=""></td>
                <td id="QuiOvn" value=""></td>
                <td id="SexOvn" value=""></td>
                <td id="SabOvn" value=""></td>
                <td id="DomOvn" value=""></td>
              </tr>
            <% } %>
          </tbody>
        </table>
      </div>
    </div>
    <script>
      $("td").click(function() {
        var elementId = this.id;
        const nome = $(this).text();
        const dia = elementId.substring(0, 3);
        const horario = elementId.substring(3, 6);
        if (nome !== "") {
          const answer = window.confirm("Deseja cancelar a reserva: '" + nome + ", " + dia + ", " + horario + "'?" );
          if (answer == true){
            const idReserva = $(this).attr("value")
            $.post("/delete/reserva", {idReserva: idReserva, equipamento: "<%=pageName%>"})
              .done(function(data){
                window.location.reload();
                alert("Reserva cancelada.");
              });
          }
        }
      });
    </script>

    <div class="d-flex gap-5 justify-content-center container inputDiv">
      <form id="infosReservas" action="/reservar/<%=routeName%>" method="POST">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 py-3 alignCenter">
            <label for="dias">Escolha um dia:</label>
            <select form="infosReservas" id="dias" name="dias">
              <option value="disabled" selected disabled hidden></option>
              <option value="Seg">Segunda</option>
              <option value="Ter">Terça</option>
              <option value="Qua">Quarta</option>
              <option value="Qui">Quinta</option>
              <option value="Sex">Sexta</option>
              <option value="Sab">Sábado</option>
              <option value="Dom">Domingo</option>
            </select>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 py-3 alignCenter">
            <label for="horarios">Escolha um horário:</label>
            <select form="infosReservas" id="horarios" name="horarios">
              <option value="disabled" selected disabled hidden></option>
              <option value="07H">7:00 - 8:00</option>
              <option value="08H">8:00 - 9:00</option>
              <option value="09H">9:00 - 10:00</option>
              <option value="10H">10:00 - 11:00</option>
              <option value="11H">11:00 - 12:00</option>
              <option value="12H">12:00 - 13:00</option>
              <option value="13H">13:00 - 14:00</option>
              <option value="14H">14:00 - 15:00</option>
              <option value="15H">15:00 - 16:00</option>
              <option value="16H">16:00 - 17:00</option>
              <option value="17H">17:00 - 18:00</option>
              <option value="18H">18:00 - 19:00</option>
              <% if (routeName.substring(0, 2) === "SH" || routeName.substring(0, 2) === "TC"){ %>
                <option value="Ovn">Overnight</option>
              <% } %>
            </select>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 py-3 alignCenter">
            <label for="nomes">Qual é seu nome?</label>
            <select form="infosReservas" id="nomes" name="nomes">
              <option value="disabled" selected disabled hidden></option>
              <option value="Ana Laura">Ana Laura</option>
              <option value="Adriana">Adriana</option>
              <option value="Bruno">Bruno</option>
              <option value="Daniel">Daniel</option>
              <option value="Juan">Juan</option>
              <option value="Maria Fernanda">Maria Fernanda</option>
              <option value="Mileny">Mileny</option>
              <option value="Nery">Nery</option>
              <option value="Nicholas">Nicholas</option>
              <option value="Pamela">Pamela</option>
              <option value="Pedro">Pedro</option>
              <option value="Talita H.">Talita H.</option>
              <option value="Talitha B.">Talitha B.</option>
              <option value="Vitor">Vitor</option>
              <option value="Willian">Willian</option>
            </select>
          </div>
          <div class="col-12 alignCenter py-5">
            <button class="btn btn-outline-dark" id="submitButton" type="submit" name="reservarButton" value="<%=routeName%>">Reservar</button>
          </div>
        </div>
      </form>

      <script>
        $(document).ready(function(){
          $.getJSON("/json/" + "<%=routeName%>", function(jd){
            jd.reservas.forEach(function(reserva){
              $("#" + reserva.dia + reserva.horario).text(reserva.nome);
              $("#" + reserva.dia + reserva.horario).attr("value", reserva._id);
            });
          });
        });

        var selectNomes = $('select[name=nomes] option').filter(':selected').val();
        var selectHorarios = $('select[name=horarios] option').filter(':selected').val();
        var selectDias = $('select[name=dias] option').filter(':selected').val();
        if (selectHorarios == "disabled" || selectNomes == "disabled" || selectDias == "disabled"){
          $("#submitButton").prop("disabled", true);
        }
        $("select").on("input", function(){
          selectNomes = $('select[name=nomes] option').filter(':selected').val();
          selectHorarios = $('select[name=horarios] option').filter(':selected').val();
          selectDias = $('select[name=dias] option').filter(':selected').val();
          if (selectHorarios == "disabled" || selectNomes == "disabled" || selectDias == "disabled"){
            $("#submitButton").prop("disabled", true);
          } else {
            if($("#" + selectDias + selectHorarios).text() !== ""){
              alert("Já existe uma reserva para o dia e o horário selecionados.")
              $("#submitButton").prop("disabled", true);
            } else {
              $("#submitButton").prop("disabled", false);
            }
          }
        });
      </script>
    </div>


<%- include("footer") -%>
