<%- include("header") -%>

    <div class="container-fluid">
      <div class="table-responsive-md reserveTable">
        <h2><%=pageName%></h2>
        <table class="table table-sm table-hover caption-top tableColor">
          <caption></caption>
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">Segunda</th>
              <th scope="col">Terça</th>
              <th scope="col">Quarta</th>
              <th scope="col">Quinta</th>
              <th scope="col">Sexta</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr>
              <th scope="row">7:00 - 8:00</th>
              <td id="Seg7H"></td>
              <td id="Ter7H"></td>
              <td id="Qua7H"></td>
              <td id="Qui7H"></td>
              <td id="Sex7H"></td>
            </tr>
            <tr>
              <th scope="row">8:00 - 9:00</th>
              <td id="Seg8H"></td>
              <td id="Ter8H"></td>
              <td id="Qua8H"></td>
              <td id="Qui8H"></td>
              <td id="Sex8H"></td>
            </tr>
            <tr>
              <th scope="row">9:00 - 10:00</th>
              <td id="Seg9H"></td>
              <td id="Ter9H"></td>
              <td id="Qua9H"></td>
              <td id="Qui9H"></td>
              <td id="Sex9H"></td>
            </tr>
            <tr>
              <th scope="row">10:00 - 11:00</th>
              <td id="Seg10H"></td>
              <td id="Ter10H"></td>
              <td id="Qua10H"></td>
              <td id="Qui10H"></td>
              <td id="Sex10H"></td>
            </tr>
            <tr>
              <th scope="row">11:00 - 12:00</th>
              <td id="Seg11H"></td>
              <td id="Ter11H"></td>
              <td id="Qua11H"></td>
              <td id="Qui11H"></td>
              <td id="Sex11H"></td>
            </tr>
            <tr>
              <th scope="row">12:00 - 13:00</th>
              <td id="Seg12H"></td>
              <td id="Ter12H"></td>
              <td id="Qua12H"></td>
              <td id="Qui12H"></td>
              <td id="Sex12H"></td>
            </tr>
            <tr>
              <th scope="row">13:00 - 14:00</th>
              <td id="Seg13H"></td>
              <td id="Ter13H"></td>
              <td id="Qua13H"></td>
              <td id="Qui13H"></td>
              <td id="Sex13H"></td>
            </tr>
            <tr>
              <th scope="row">14:00 - 15:00</th>
              <td id="Seg14H"></td>
              <td id="Ter14H"></td>
              <td id="Qua14H"></td>
              <td id="Qui14H"></td>
              <td id="Sex14H"></td>
            </tr>
            <tr>
              <th scope="row">15:00 - 16:00</th>
              <td id="Seg15H"></td>
              <td id="Ter15H"></td>
              <td id="Qua15H"></td>
              <td id="Qui15H"></td>
              <td id="Sex15H"></td>
            </tr>
            <tr>
              <th scope="row">16:00 - 17:00</th>
              <td id="Seg16H"></td>
              <td id="Ter16H"></td>
              <td id="Qua16H"></td>
              <td id="Qui16H"></td>
              <td id="Sex16H"></td>
            </tr>
            <tr>
              <th scope="row">17:00 - 18:00</th>
              <td id="Seg17H"></td>
              <td id="Ter17H"></td>
              <td id="Qua17H"></td>
              <td id="Qui17H"></td>
              <td id="Sex17H"></td>
            </tr>
            <tr>
              <th scope="row">18:00 - 19:00</th>
              <td id="Seg18H"></td>
              <td id="Ter18H"></td>
              <td id="Qua18H"></td>
              <td id="Qui18H"></td>
              <td id="Sex18H"></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="d-flex gap-5 justify-content-center container inputDiv">
      <form id="infosReservas" action="/reservar/<%=routeName%>" method="POST">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-12 py-3 alignCenter">
            <label for="dias">Escolha um dia:</label>
            <select form="infosReservas" id="dias" name="dias">
              <option value="" selected disabled hidden></option>
              <option value="Seg">Segunda</option>
              <option value="Ter">Terça</option>
              <option value="Qua">Quarta</option>
              <option value="Qui">Quinta</option>
              <option value="Sex">Sexta</option>
            </select>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12 py-3 alignCenter">
            <label for="horarios">Escolha um horário:</label>
            <select form="infosReservas" id="horarios" name="horarios">
              <option value="" selected disabled hidden></option>
              <option value="7H">7:00 - 8:00</option>
              <option value="8H">8:00 - 9:00</option>
              <option value="9H">9:00 - 10:00</option>
              <option value="10H">10:00 - 11:00</option>
              <option value="11H">11:00 - 12:00</option>
              <option value="12H">12:00 - 13:00</option>
              <option value="13H">13:00 - 14:00</option>
              <option value="14H">14:00 - 15:00</option>
              <option value="15H">15:00 - 16:00</option>
              <option value="16H">16:00 - 17:00</option>
              <option value="17H">17:00 - 18:00</option>
              <option value="18H">18:00 - 19:00</option>
            </select>
          </div>
          <div class="col-lg-4 col-md-12 col-sm-12 py-3 alignCenter">
            <label for="nomes">Qual é seu nome?</label>
            <select form="infosReservas" id="nomes" name="nomes">
              <option value="" selected disabled hidden></option>
              <option value="Ana Laura">Ana Laura</option>
              <option value="Adriana">Adriana</option>
              <option value="Bruno">Bruno</option>
              <option value="Daniel">Daniel</option>
              <option value="Juan">Juan</option>
              <option value="Maria Fernanda">Maria Fernanda</option>
              <option value="Mileny">Mileny</option>
              <option value="Nery">Nery</option>
              <option value="Nicholas">Nicholas</option>
              <option value="Pamela">Pamela</option>
              <option value="Pedro">Pedro</option>
              <option value="Talita H.">Talita H.</option>
              <option value="Talitha B.">Talitha B.</option>
              <option value="Vitor">Vitor</option>
              <option value="Willian">Willian</option>
            </select>
          </div>
          <div class="col-12 alignCenter py-5">
            <button class="btn btn-outline-dark" type="submit" name="reservarButton" value="<%=routeName%>">Reservar</button>
          </div>
        </div>
      </form>

      <script type="text/javascript">
        <% reservesArray.reservas.forEach((reserva) => { %>
        document.querySelectorAll("#" + reserva.dia + reserva.horario).text(reserva.nome);
        <% }); %>
      </script>
    </div>





<%- include("footer") -%>
